<div id="<%= dom_id web_employee %>">
  <p>
    <strong>Name:</strong>
    <%= web_employee.name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= web_employee.age %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= web_employee.gender %>
  </p>

  <p>
    <strong>Designation:</strong>
    <%= web_employee.designation %>
  </p>

</div>
